.coaches__wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.coaches__wrapper h2 {
  font-family: $ff-alumni-sans;
  font-size: 54px;
  line-height: 65px;
  font-weight: $fw-semibold;
  color: $color-dark-blue;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 47px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
  }
}

.coaches__block {
  position: relative;
}

.coaches__card {
  position: relative;
  text-align: center;
}

.coaches__card h3 {
  position: absolute;
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  line-height: 22px;
  font-weight: $fw-bold;
  color: $color-default-white;
  margin: 0;
  bottom: 25px;
  left: 0;
  right: 0;
}

.coaches__block:hover h3 {
  display: none;
}

.coaches__pop-up {
  background-color: rgba(16, 38, 84, 0.89);
  opacity: 0;
  width: 260px;
  height: 294px;
  padding: 52px 45px 30px 57px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: auto;
  text-align: center;

  @include vp-1199 {
    width: 268px;
    height: 294px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.coaches__block:hover .coaches__pop-up {
  opacity: 1;
}

.coaches__pop-up h4 {
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  line-height: 22px;
  font-weight: $fw-bold;
  color: $color-default-white;
  margin: 0;
}

.coaches__pop-up p {
  font-family: $ff-roboto-condensed;
  font-size: 16px;
  line-height: 24px;
  font-weight: $fw-regular;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 35px;
}

.coaches__pop-up ul {
  margin: 0;
  padding: 0;
  text-align: start;
}

.coaches__pop-up li {
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 21px;
  font-weight: $fw-regular;
  color: $color-default-white;
  margin-bottom: 12px;
}
