.swiper {
  position: relative;
  touch-action: pan-y;
  max-width: 1280px;
  padding: 0 60px;
  margin: 0 auto;
  height: 100%;
  margin-bottom: 140px;

  @include vp-1199 {
    padding: 0 101px;
  }

  @include vp-767 {
    width: 290px;
    padding: 0 32px;
  }
}

.swiper-wrapper {
  @include vp-767 {
    padding: 0;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-1199 {
    width: 268px;
    height: 294px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 32px;
  color: $color-swiper-arrow;

  @include vp-767 {
    font-size: 19px;
  }
}

.swiper-button-prev {
  top: 50%;
  left: 0;

  @include vp-1199 {
    left: 40px;
  }

  @include vp-767 {
    left: -8px;
  }
}

.swiper-button-next {
  top: 50%;
  right: 0;

  @include vp-1199 {
    right: 40px;
  }

  @include vp-767 {
    right: -8px;
  }
}
